<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agileboot.domain.system.dept.db.SysDeptMapper">

    <select id="hasChildrenDept" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM sys_dept
        WHERE deleted = 0
        <if test="status != null">
            AND status = #{status}
        </if>
        AND (
            parent_id = #{deptId}
            OR find_in_set(#{deptId}, ancestors)
        )
    </select>

    <select id="isChildOfTheDept" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM sys_dept
        WHERE deleted = 0
          AND dept_id = #{childId}
          AND find_in_set(#{parentId}, ancestors)
    </select>

</mapper>
