<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agileboot.domain.system.user.db.SysUserMapper">

    <select id="getRolesByUserId" resultType="com.agileboot.domain.system.role.db.SysRoleEntity">
        SELECT DISTINCT r.*
        FROM sys_role r
        LEFT JOIN sys_user u ON u.role_id = r.role_id
        WHERE r.deleted = 0
          AND u.user_id = #{userId}
    </select>

    <select id="getPostsByUserId" resultType="com.agileboot.domain.system.post.db.SysPostEntity">
        SELECT p.*
        FROM sys_post p
        LEFT JOIN sys_user u ON p.post_id = u.post_id
        WHERE u.user_id = #{userId}
          AND p.deleted = 0
    </select>

    <select id="getMenuPermsByUserId" resultType="java.lang.String">
        SELECT DISTINCT m.permission
        FROM sys_menu m
        LEFT JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
        LEFT JOIN sys_user u ON rm.role_id = u.role_id
        LEFT JOIN sys_role r ON r.role_id = u.role_id
        WHERE m.status = 1 AND m.deleted = 0
          AND r.status = 1 AND r.deleted = 0
          AND u.user_id = #{userId}
    </select>

    <select id="getUserListByRole" resultType="com.agileboot.domain.system.user.db.SysUserEntity">
        SELECT DISTINCT u.user_id, u.dept_id, u.username, u.nickname, u.email,
               u.phone_number, u.status, u.create_time
        FROM sys_user u
        LEFT JOIN sys_dept d ON u.dept_id = d.dept_id
        LEFT JOIN sys_role r ON r.role_id = u.role_id
        ${ew.customSqlSegment}
    </select>

    <select id="getUserList" resultType="com.agileboot.domain.system.user.db.SearchUserDO">
        SELECT u.*, d.dept_name, d.leader_name AS dept_leader
        FROM sys_user u
        LEFT JOIN sys_dept d ON u.dept_id = d.dept_id
        ${ew.customSqlSegment}
    </select>

</mapper>
